*{
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style: none;
}
.img_box1{
    position: relative;
}
.img_box1 li{
    position: absolute;
    top: 5px;
    left: 3px;
}
.img_box1 li a{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #497F7F;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 50%;
    z-index: 200;
}
.img_box1 li a:hover{
    background-color: #8E112B;
}
.img_box1 li:hover{
    z-index: 1;
}
.play{
    animation: ma 5s ease-out infinite alternate;
}
@keyframes ma {
    0%,25% {        margin-left: 0px;       }
    30%,50% {       margin-left: -300px;    }
    55%,75% {       margin-left: -600px;    }
    80%,100% {       margin-left: -900px;    }
}
/*.img_box1 ul li{
    z-index: -1;
}*/
.img_box1{
    z-index: 10;
}