body,img,a,ul,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
/*页头样式开始*/
header{
    width: 100%;
    height: 260px;
    /* border: 1px solid red; */
}





#header_top{
    width: 100%;
    height: 116px;
   /* border: 1px solid yellow;*/
    background-image: url("../img/top.jpg") ;
    background-repeat: no-repeat;
    background-size: auto 120px;
    background-position: 50%;
}



#header_content{
    width: 100%;
    height: 42px;
    background-color: #333333;
    /* border: 1px solid black; */
}
#header_content>div:first-child{
    width: 1230px;
    margin: 0 auto;
    height: 42px;
    color: #b0b0b0;
    /* border: 1px solid red; */
}

.clear:after{/*清除浮动*/
    content: '';
    display:block;
    clear: both;
}

.header_left{
    float: left;
    font-size: 12px;
    height: 42px;
    line-height: 38px;
  
}
.header_left>a{
    color: #b0b0b0;
}

#app{
    position: relative;
}

#app:hover .appSpan{
    display: block;

}



/*下载*/
.appSpan{
    position: absolute;
  
    top: 31px;
    left:  0px;
    width: 124px;
    height: 160px;
    left: calc(50% - 124px / 2 );
    background-color: #fff;
    /* border: 1px solid green; */
     z-index: 99;
     display: none; 
     box-shadow:2px 2px 10px silver;
     color: #333333;
     text-align: center;
}
.appSpan>img{
    width: 86px;
    height: 87px;
    margin: 20px 20px 0px 20px;
}
.appSpan>i{
    position: absolute;
    top: -20px;
    left: 50px;
    color: #fff;
    text-shadow: 1px -1px #cccccc -1px  -1px #cccccc;

}

.span{
    color: #424242;
    margin: 0px 2px;
}

.header_right{
    float: right;
    width: 290px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    /* border: 1px solid red; */
}
.header_right>div:first-child{
    float: left;
    width: 170px;
    height: 38px;
    /* border: 1px solid red; */
}
.header_right>div:last-child{
    float: right;
    width: 110px;
    height: 42px;
    /* border: 1px solid red; */
    text-align: center;
    position: relative;
    background:#424242;
}
.header_right>div:last-child:hover>.shoppingContent{
    display: block;
}

.header_right>div>a{
    padding: 0px  5px;
    color: #b0b0b0;
  
}

#header_content a:hover{
    font-weight: bold;
    color: #fff;

}
.shop{
    margin: 0px 5px;
}
.shoppingContent{
    width: 320px;
    height: 90px;
    box-shadow:2px 2px 10px silver;
    position: absolute;
    background-color: #fff;  
    right: 0px;
    display: none; 
}

.header_right>div:last-child:hover{
    font-weight: bold;
    background-color: #fff;
    color: #ff6700;
}

/* 页头 第三行内容开始*/
#header_bottom{
    width: 1230px;
    margin: 0 auto;
    height: 99px;
    border: 1px solid green;
}
/*logo*/
.logo_left{
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background-color: #ff6700;

}
.logo_left>a{
    display: block;
    width: 55px;
    height: 55px;
    background-image: url("../img/mi-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#header_nav{
    float: right;
    width: 630px;
    height: 100px;
    line-height: 100px;
    border: 1px solid red;
}
#header_search{
    float: right;
    width: 360px;
    height: 100px;
    line-height: 100px;
    border: 1px solid red;
}

#header_nav ul{
    float: left;
}
#header_nav>ul:first-child>li{
    /* width: 90px; */
    /* border: 1px solid red; */
    float: left;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
}
/*nav 隐藏DIV */
.nav_content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 230px;
    border: 1px solid #cccccc;
    background-color: #fff;
    width: 100%;
    display: none;
}
.nav_item a{
    color: #333333;
}
.nav_item:hover >a{
    color: #ff6700;
}
.nav_item:hover .nav_content{
    display: block;
    
}

/* 隐藏内容 div模块*/
.nav_content>div{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    /* background-color: bisque; */
}
.title{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
    .price{
        color: #ff6700;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
    }


.content_item{
    float: left;
    width: 150px;
    height: 200px;
    padding: 30px 0px 0px 0px;
    /* border: 1px solid red; */
}
.content_img{
    /* padding: 20px 0px 0px 0px; */
    height: 110px;
    line-height: 110px;
    text-align: center;
}

/* 页头 第三行内容结束*/

/*页头样式结束*/




/*中间内容*/
section{
    width: 100%;
    height: 2500px;
    border: 1px solid red;
    background-color: #cccccc;
}
/*页尾*/
footer{
    width: 100%;
    height: 579px;
    border: 1px solid red;
}
