body{
    padding: 0px;
    margin: 0px;
}
header{
    border-bottom: 2px solid #ff6700;
    height: 101px;
}
section{
    height: 1583px;
    /*border: 1px solid red;*/
    background-color: #f5f5f5;
}
.container{
    width: 1226px;
    height: 74px;
    margin: 0px auto;
    border: 1px solid red;

}
/*logo*/
.logo_left{
    float: left;
    width: 55px;
    height: 48px;
    margin-top: 26px;
    margin-right: 50px;
    background-color: #ff6700;

}
.logo_left>a{
    display: block;
    width: 55px;
    height: 48px;
    background-image: url("../img/mi-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav_content{
    float: left;
    width: 491px;
    height: 48px;
    margin-top: 26px;
    border: 1px solid red;
}
.nav_right{
    float: right;
    width: 191px;
    height: 48px;
    margin-top: 26px;
    border: 1px solid red;
   
}
#page_main{
    padding: 38px 0px 38px 0px;
}
.goods_list{
    width: 1226px;
    height: 768px;
    background-color: #fff;
    margin: 0px auto;
}

footer{
    /*border: 1px solid red;*/
    height: 579px;
}